@import '../../../variables.scss';

.card.value-box {
  overflow: hidden;
  background-color: $secondary;
  color: $primary;

  &.value-box-community {
    background-color: $community;
    color: $light;
  }

  &.value-box-system {
    background-color: $system;
    color: $light;
  }

  &.value-box-service-provider {
    background-color: $service-provider;
    color: $light;
  }

  &.value-box-technical-provider {
    background-color: $technical-provider;
    color: $light;
  }
}

.value-box-value {
  font-size: 2rem;
}

.value-box-title {
  font-size: 1rem;
}

.value-box-icon {
  position: absolute;
  bottom: -2rem;
  right: -0.5rem;
  font-size: 9rem;
  color: rgba($light, 0.1);
}

.value-box-nav {
  &:hover {
    text-decoration: none;

    .value-box-icon {
      color: rgba($light, 0.2);
    }
  }
}


